* {
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding-top: 50px;
    height: 200px;
    background-color: lightgray;
}

.vacation{
    text-align: center;
    margin-bottom: 10px;
}

.wishlistCard {
    text-align: center;
    width: 20%;
    height: fit-content;
    margin: 10px;
    text-size-adjust: 20px;
    float: left;
    padding: 0;
}
.wishlist{
    margin-top: 10px;
}

/* .wishCardImg {
    width: 100px;
    height: fit-content;
} */

.cardAttributes {
    text-align: center;
}